<div class="col-me-6 offset-md-3">
  <h3 class="text-center">Register employee</h3>
  <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
    <div class="form-group">
      <label>Name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="employee.name"
        name="name"
        required="true"
        minlength="4"
        maxlength="10"
        placeholder="Type your name"
        #name="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="name.invalid && (name.dirty || name.touched)"
      >
        <div *ngIf="name.errors?.['required']">Please type your name</div>
        <div *ngIf="name.errors?.['minlength']">
          Name must have at least 4 characters
        </div>
        <div *ngIf="name.errors?.['maxlength']">
          Name must have maximum 4 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Lastname:</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        [(ngModel)]="employee.lastname"
        name="lastname"
        required="true"
        minlength="4"
        maxlength="10"
        placeholder="Type your lastname"
        #lastname="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
      >
        <div *ngIf="lastname.errors?.['required']">
          Please type your lastname
        </div>
        <div *ngIf="lastname.errors?.['minlength']">
          Lastname must have at least 4 characters
        </div>
        <div *ngIf="name.errors?.['maxlength']">
          Lastname must have maximum 4 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input
        type="text"
        class="form-control"
        id="email"
        [(ngModel)]="employee.email"
        name="email"
        pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
        required="true"
        minlength="2"
        maxlength="100"
        placeholder="Type your email"
        #email="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="email.invalid && (email.dirty || email.touched)"
      >
        <div *ngIf="email.errors?.['required']">Please type your email</div>
        <div *ngIf="email.errors?.['pattern']">
          Format required : user100&#64;gmail.com
        </div>
      </div>
    </div>
    <button class="btn btn-success" [disabled]="!employeeForm.form.valid">
      Save
    </button>
  </form>
</div>
